.cart-item-card {
  border-radius: 0.75rem;
  transition: box-shadow 0.3s ease;
  height: 100%;
}

.cart-item-card:hover {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.07);
}

.image-container {
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f8f9fa;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.product-image {
  max-height: 100%;
  object-fit: contain;
  width: auto;
}