:root {
  --primary-bg: #e9f5f9;
  --primary-text: #222;
  --hover-bg: #f1f9f1;
  --danger-color: #dc3545;
  --danger-hover: #c82333;
  --success-gradient-start: #28a745;
  --success-gradient-end: #218838;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
